<div class="container marginFooter">
	<div class="row">
		<form id="edit-game-settings-form" class="col-md-6 col-md-offset-3" name="editgamesettings">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="form-edit-heading">Edit your game settings</h2>
				</div>
				<div class="panel-body">
					<div class="col-md-12 alert alert-info">
						<strong>Info:</strong> You can only select up to 3 characters.
					</div>
					{{#buildGameList games}}{{/buildGameList}}
					<div class="col-md-12 col-sm-12 col-xs-12 someMargin">
						<button class="btn btn-primary btn-lg btn-block btnEditGameInfo" type="submit">
							<span>Save game settings</span>
						</button>
					</div>

					<input type="hidden" name="nbFavGame" value="{{nbFavGame}}" />
					<input type="hidden" name="nbFavChar" value="{{nbFavChar}}" />
          {{#if setup.step}}<input type="hidden" name="setup" value="{{setup.step}}" />{{/if}}
					<input type="hidden" name="_csrf" value="{{_csrf}}" />
					<input type="hidden" name="userId" value="{{me.id}}" />
				</div>
			</div>
		</form>
	</div>
</div>
