<div class="container">
	<div class="row">
		<form ng-submit="submitEditSettingsForm()" id="edit-settings-form" class="col-md-6 col-md-offset-3" name="editsettings">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="form-edit-heading">Edit your settings</h2>
				</div>
				<div class="panel-body">
					<!-- F A C E B O O K -->
					<div class="control-group form-group col-md-12">
						<label>Your facebook</label>

						<input type="text" class="form-control" placeholder="www.facebook.com/Daigo" name="facebook" ng-model="editSettingsForm.facebook" ng-init="editSettingsForm.facebook = '<%=settings.facebook%>'">
					</div>

					<!-- T W I T T E R -->
					<div class="control-group form-group col-md-12">
						<label>Your twitter</label>

						<input type="text" class="form-control" placeholder="www.twitter.com/Daigo" name="twitter" ng-model="editSettingsForm.twitter" ng-init="editSettingsForm.twitter = '<%=settings.twitter%>'">
					</div>

					<!-- T W I T C H -->
					<div class="control-group form-group col-md-12">
						<label>Your twitch</label>

						<input type="text" class="form-control" placeholder="www.twitch.com/Daigo" name="twitch" ng-model="editSettingsForm.twitch" ng-init="editSettingsForm.twitch = '<%=settings.twitch%>'">
					</div>

					<div class="control-group form-group col-md-12">
						<button class="btn btn-primary btn-lg btn-block" type="submit">
							<span ng-show="!editSettingsForm.loading">Save social settings</span>
							<span class="overlord-loading-spinner fa fa-spinner" ng-show="editSettingsForm.loading" ></span>
							<span ng-show="editSettingsForm.loading">Saving your social settings...</span>
						</button>
					</div>

					<input type="hidden" name="_csrf" value="<%=_csrf%>" ng-model="editSettingsForm._csrf" />
					<input type="hidden" name="userId" ng-init=" editSettingsForm.userId = '<%=me%>'" ng-model="editSettingsForm.userId" />
				</div>
			</div>
		</form>
	</div>
</div>