<div class="container">
	<div class="row">
		<form id="edit-settings-form" class="col-md-6 col-md-offset-3" name="editsettings">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="form-edit-heading">Edit your settings</h2>
				</div>
				<div class="panel-body">
					<!-- F A C E B O O K -->
					<div class="control-group form-group col-md-12">
						<label>Your facebook username</label>
						<input type="text" class="form-control" placeholder="DaigoFacebook" name="facebook" value="{{settings.facebook}}">
					</div>

					<!-- T W I T T E R -->
					<div class="control-group form-group col-md-12">
						<label>Your twitter username</label>
						<input type="text" class="form-control" placeholder="DaigoTwitter" name="twitter" value="{{settings.twitter}}">
					</div>

					<!-- T W I T C H -->
					<div class="control-group form-group col-md-12">
						<label>Your twitch username</label>
						<input type="text" class="form-control" placeholder="DaigoTwitch" name="twitch" value="{{settings.twitch}}">
					</div>

					<div class="control-group form-group col-md-12">
						<button class="btn btn-primary btn-lg btn-block btnEditSocialInfo" type="submit">
							<span>Save social settings</span>
						</button>
					</div>

					<input type="hidden" name="_csrf" value="{{_csrf}}" />
          {{#if setup.step}}<input type="hidden" name="setup" value="{{setup.step}}" />{{/if}}
					<input type="hidden" name="userId" value="{{me.id}}" />
				</div>
			</div>
		</form>
	</div>
</div>
