<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="text-center">Social Information</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 text-left">
							<h3>Facebook:</h3>
						</div>
						<div class="col-md-8 text-left">
							<h3>{{#if settings.facebook}}{{settings.facebook}}{{else}}<em>No facebook set</em>{{/if}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-left">
							<h3>Twitter:</h3>
						</div>
						<div class="col-md-8 text-left">
							<h3>{{#if settings.twitter}}{{settings.twitter}}{{else}}<em>No twitter set</em>{{/if}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-left">
							<h3>Twitch:</h3>
						</div>
						<div class="col-md-8 text-left">
							<h3>{{#if settings.twitch}}{{settings.twitch}}{{else}}<em>No twitch set</em>{{/if}}</h3>
						</div>
					</div>
					<a class="btn btn-lg btn-primary btn-block" href="/user/settings/edit/{{me.id}}">Edit</a>
				</div>
			</div>
		</div>
	</div>
</div>
